@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&display=swap');
@import "tailwindcss";

.section-bg {
  min-height: 100vh;
  background: linear-gradient(
    to bottom right,
    #e8f5e2,
    #f0f7ec,
    #dff0d8
  );
}

h1 {
  font-family: 'Playfair Display', serif;
}